/*ESTILOS MENU
.navbar{
    background-color: rgba(241, 232, 232, 0.986);
    padding: 0.3rem;
}
*/
/*FLEXBOX*/
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#btn-acerca-de{
    color: brown;
}
#btn-productos{
    color: brown;
}
#btn-contacto{
    color: brown;
}
/************HERO***********/

/*.hero{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    padding: 80px;
}
*/
.hero{
    
    padding: 20px;
}

header{
    width: 100%;
    position: fixed;
    z-index: 9;
}

header .navbar-collapse a{ /*Gracias a esto se puede cambiar*/
    position: relative; /*Gracias a esto se puede cambiar la posición a las a de la nav*/
}

.carousel{
    margin-top: 50px;
}

.hero{
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.aside{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.article-cel{
    margin-top: 125px;
}

.form{
    margin-top: 60px;
}


/*FIN HERO*/
h1{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
   
}

.article{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: rgba(39, 37, 37, 0.986);
}
/*FORMULARIO*/
#formulario{
    font-weight: bold;
    font-style: unset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(42, 44, 42, 0.918)

}

/*Footer*/
.footer{
    
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding: 15px 10px;
    background-color: rgb(105, 105, 105);
}

/************* MEDIA QUERIES *************/
@media (max-width: 990px) {
    h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 400px;
    }
    h2 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 300px;
    }
    
}


@media (min-width: 400px) {
    .aside h1 {
        font-size: 60px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
}

@media (max-width: 992px) { /*PARA QUE SEA RESPONSIVO*/
    .hero {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        padding: 80px;
    }
    
}

@media (max-width: 400px) {
    .foto{
        width: 230px;
        padding-top: 30px;
    }

    .hero section h1 {
        font-size: 50px;
    }

    .hero section h4 {
        font-size: 20px
    } 
}


/************* MEDIA QUERIES *************/